*{
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial;
  color: white;
  background-image: url('TestBackground.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

body{
  margin: 8px;
}


.topBox{
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
  background-color: #014421;
}

.leftBoxL{
  display: flex;
  align-items: center;
}
.rightBoxL{
  display: flex;
  margin-right:5rem;
}
.rightBoxR{
  display: flex;
}
.bottomBox{
  display: flex;
  width: inherit;
  height: inherit;
  justify-content: center;

}
.toplink {
  background-color: #014421;
  float: left;
  border: none;
  font-size: 50px;
}

#topcolor{
  text-decoration: none;
  color: white;
}

.centerBox{
  display: flex;
  align-self:center;
  padding: 9rem;

}

.centerBox2{
  display: flex;
  align-self:center;
  padding: 18rem;
}

.centerLeftBox{
  display: flex;
}

.atmLogin{
  background-color: #014421;
  float: left;
  border: none;
  font-size: 5vw;
  margin-top: 5rem;
}

.centerRightBox{
  display: flex;

}

.signIn{
  display: flex;
  background-color: 014421
  float: right;
  font-size: 5vw;
}

.buttonGroup{
    display: flex;
    flex-direction: row;
}
