*{
  box-sizing: border-box;
}

body, html {
  
  font-family: Arial;
  color: white;
  background-color: black;
  background-image: url('TestBackgroundColor.jpeg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position-y: center;
}

body{
  margin: 8px;
}

.topBox{
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
  background-color: #014421;
}

.leftBoxL{
  display: flex;
  align-items: center;
  font-style: normal;
}

.buttonGroup{
    display: flex;
    flex-direction: row;
}

.rightBoxL{
  display: flex;
  margin-right:5rem;
}
.rightBoxR{
  display: flex;
}

.toplink {
  background-color: #014421;
  float: left;
  border: none;
  font-size: 50px;
}

#topcolor{
  text-decoration: none;
  color: white;
}

.bottomBox{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;


}

.centerBox{
  display: flex;
  width: 200rem;
  align-self:center;
  justify-content: center;



}

.centerLeftBox{
  display: flex;
}

.atmLogin{
  background-color: #014421;
  border: none;
  font-size: 5rem;
}

.centerBox2{
  display: flex;
  align-self:center;
  align-items: center;
  width: 40rem;
  justify-content: center;
  background-color: #014421;
  flex-direction: column;
  border-radius: 2rem;
  
  /* margin-top: 80px; */
  /* margin-bottom: 25px; */

}

.centerRightBox{
  display: flex;
  /* height: auto; */
  /* margin-left: 200px; */
  font-size: 3rem;
}

.submitBtn{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

/* Page 2 */

.parentBox{
  display: flex;
  width: 100%;
  height: 100%;
  align-self: center;
  justify-content: space-around;
}
input{
  font-size: xx-large;
}

.lowerBackdrop{
  display: flex;
  align-self: center;
  width: 800px;
  height: 700px;
  flex-direction: column;
  justify-content: space-around;
}

.infoBox{
  display: flex;
  
}

table td {
  border: solid 3px black;
  width: 14rem;
  height: 3rem;
  word-wrap: break-word;
  background-color: black;
  text-align: center;
}

.dropbtn {
  background-color: inherit;
  color: white;
  width: 800px;
  height: 9rem;
  font-size: 2rem;
  border: none;
  border-radius: 2rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  background-color:#014421;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 2rem;
}

.dropdown-content a {
  align-content: center;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #014421;}

.checkingsaccount{
  display: flex;
  justify-content: space-around;
  height: 9rem;
  align-items: center;
  background-color: #014421;
  flex-direction: column;
  font-size: 2rem;
  border-radius: 2rem;
}

.optionsPB{
  display: flex;
  align-self:center;
  align-items: center;
  width: 70rem;
  height: 50rem;
  justify-content: center;
  background-color: #014421;
  flex-direction: column;
  border-radius: 2rem;
  
  /* margin-top: 80px; */
  /* margin-bottom: 25px; */
}

.optionsPB div{
  align-items: center;
  font-size: 4rem;
  margin-bottom: 3.5rem;
  margin-top: 3.5rem;
}